root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# JSON, JavaScript/TypeScript, YAML and .*rc files should use 2 spaces
[{.,}*.{{j,t}s{,x,on{,p,5}},y{a,}ml,*rc}]
indent_style = space
indent_size = 2

[*.{diff,md,txt}]
indent_style = space
indent_size = 4
# trailing spaces in markdown is used to differentiate line breaks and paragraphs
trim_trailing_whitespace = false

# LaTeX files should use 2 spaces and max 140 characters
[*.{{,la}tex,sty}]
indent_style = space
indent_size = 2
max_line_length = 140

# Shell scripts should use Linux line ending
[*.{ba,b,c,k,z,}sh]
end_of_line = lf

# CMD and PowerShell should use Windows line ending
[*.{ps{m,}1,bat,cmd}]
end_of_line = crlf

[Makefile]
indent_style = tab
indent_size = 8
